/* Placeholder style */
input {
  color: red;
}

::placeholder {
  color: blue;
}

:-ms-input-placeholder {
  color: blue;
}

::-webkit-input-placeholder {
  color: blue;
}

/* Scroll styles */
::-webkit-scrollbar {
  background-color: black;
  color: green;
}

::-webkit-scrollbar-track {
  background-color: aqua;
}

::-webkit-scrollbar-thumb {
  background: repeating-linear-gradient(rgb(255, 160, 160), rgb(155, 155, 255) 50px);
  border: 1px solid brown;
}

::-webkit-scrollbar-button {
  background-color: blueviolet;
}