bogy {
  overflow: hidden;
}

/* Placeholder style */
input {
  color: red;
}

::placeholder {
  color: blue;
}

:-ms-input-placeholder {
  color: blue;
}

::-webkit-input-placeholder {
  color: blue;
}

.viewport {
  height: 100vh;
  overflow: auto;
}

.box {
  border: 3px solid brown;
  max-height: 300px;
  overflow: auto;
}

.button {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  background-color: initial;
  background-image: url(/pictures/button.png);
  background-position: right;
  background-size: 220%;
  cursor: pointer;
}

.button:active {
  background-position: left;
  ;
}

/* Scroll styles */
::-webkit-scrollbar {
  background-color: black;
  width: 20px;
  border-radius: 10px;

}

::-webkit-scrollbar-track {
  background-color: aqua;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: repeating-linear-gradient(rgb(255, 160, 160), rgb(155, 155, 255) 100%);
  border: 1px solid brown;
  border-radius: 10px;
}

::-webkit-scrollbar-button {
  background-color: blueviolet;
}